* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .app-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-content{
    flex:1;
  }
  
  /* .app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-content {
    padding: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
    h1 {
      font-size: 5vw;
      margin: 0.5em;
    }
  } */
  